@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;800&display=swap');


:root {
    --main-color: #B4B4B8;
    --black-color: #12121212;
    --border: 0.1rem solid rgb(248, 250, 229, 0.4);
    --second-color: #2D3250;
    --third-color: #424769;
    --fifth-color: #7077A1;

}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    transition: 0.2s ease;
}

/*base html codes*/
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    background-color: var(--main-color);
}

html::-webkit-scrollbar {
    width: 0.8rem;
    background-color: white;
}

html::-webkit-scrollbar-thumb {
    width: 0.8rem;
    border-radius: 3rem;
    background-color: black;
}

.heading{
    font-size: 4rem;
    color: white;
    border-bottom: 1px solid white;
    margin-bottom: 2rem;
}



/*! header start*/
.header.logo {
    height: 40px;
}

.header {
    background-color: rgb(245, 245, 245, 0.9);
    opacity: 0.75;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 3rem;
    box-shadow: 0px 0px 17px -2px rgb(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: black;
    border-bottom: 0.1rem solid transparent;
}

.header .navbar .active,
.header .navbar a:hover {
    border-color: var(--second-color);
    padding-bottom: 0.5rem;
}

.header .buttons button {
    cursor: pointer;
    font-size: 1.75rem;
    margin-left: 1.5rem;
    background-color: var(--second-color);
    color: var(--main-color);
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
}
.header .buttons button:hover{
    background-color: var(--main-color);
    color: var(--second-color);
}

/*! header end*/

/*! home start*/
.home {
    min-height: 100dvh;
    background: url(images/hom.webp) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
}

.home .content{
    max-width: 100rem;
}

.home h1{
    font-size: 7rem;
    color: var(--third-color);
    margin-top: 40px;
    margin-left: 2rem;
}

.home h3{
    font-size: 5rem;
    color: white;
    margin-left: 2rem;
}

.home p{
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.8;
    color: white;
    padding: 1rem 0;
    margin-left: 2rem;

}


/*! home end*/


/*! projects start*/
.projects .buttons{
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    gap: 15rem;
}

.projects .buttons button{
    font-size: 3rem;
    background-color: var(--third-color);
    padding: 2rem 3.75rem;
    border-radius: 3.5rem;
    color: white;
    cursor: pointer;
    align-items: center;
    margin-top: 30rem;
    margin-bottom: 30rem;
}

.projects .buttons button:hover{
    background-color: #98a0ce;
    color: var(--third-color);
}
/*! projects end*/


/*! about start*/

.about h2{
    color: var(--third-color);
    font-size: 3rem;
}
.about p{
    color: var(--third-color);
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0.8;
}

.about .row{
    display: flex;
    align-items: center;
  }

.about .row .image {
    max-width: 100%;
    margin-right: 20px;
    margin-top: 2rem;
    margin-bottom: 10rem;
  }
  .about .row .content{
    margin-top: 2rem;
}

/*! about end*/


/*! review start*/

.review .box_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box_container .box{
    background-color: white;
    border: var(--second-color);
    border-radius: 3rem;
    text-align: center;
    padding: 2rem 1rem;
    margin-bottom: 4rem;
}
.review .box_container .box p{
    font-size: 1.5rem;
}

/*! review end*/


/*! contact start*/
.contact .row{
    display: flex;
    background-color: var(--second-color);
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 5rem;
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
    padding: 5rem 2rem;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
    width: 100%;
    object-fit: cover;
    background-color: var(--second-color);
    color: var(--second-color);

}

.contact .row form h3{
    font-size: 3.5rem;
    color: white;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: var(--fifth-color);
    background-color: var(--second-color);
    color: var(--second-color);

}

.contact .row form .inputBox i{
    color: white;
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 1.5rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background-color: none;
}

.contact .row form .btn{
    background-color: var(--fifth-color);
    color: var(--second-color);
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    font-size: 1.5rem;
}

.contact .row form .btn:hover{
    background-color: var(--second-color);
    color: var(--fifth-color);
}

/*! contact end*/


/*! footer start*/
.footer{
    background-color: black;
    text-align: center;
}

.footer .search{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer .search .search-input{
    width: 20rem;
    font-size: 1.5rem;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin: 3rem 0;
}

.footer .search .btn{
    font-size: 1.5rem;
    background-color: var(--third-color);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    margin: 3rem 0;
}

.footer .search .btn:hover{
    background-color: white;
    color: var(--third-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
 .footer .links a{
    font-size: 2rem;
    color: var(--fifth-color);
    background-color: var(--second-color);
    padding: 1rem 1.5rem;
    margin-bottom: 3rem;
 }

 .footer .links a:hover{
    color: var(--second-color);
    background-color: var(--fifth-color);
 }

 .footer .credit{
    color: white;
    background-color: none;
    justify-content: center;
    font-size: 1.5rem;
    padding: 1rem;
 }

 .footer .credit span{
    color: var(--fifth-color);
 }
/*! footer end*/
